Repository DorianGrey/svelte-ts-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --plugin-search-dir=.

Attempting to get unit tests to work ... somehow
  .gitignore
  README.md
  jest.config.js
  package.json
  pnpm-lock.yaml
Due: none

Add workaround for buffer overflow in unit tests
  jest.setup.js
  package.json
  src/App.svelte
Due: prettier --write --plugin-search-dir=.

Add routing example based on page.js
  package.json
  pnpm-lock.yaml
  src/404.svelte
  src/About.svelte
  src/App.svelte
  src/Home.svelte
Due: prettier --write --plugin-search-dir=.

Add production build preview task
  package.json
  pnpm-lock.yaml
Due: none

Extend routing and unit testing
  .gitignore
  README.md
  jest.config.js
  package.json
  src/About.svelte
  src/App.svelte
  src/App.test.ts
  src/home/Home.svelte
  src/home/Home.test.ts
  src/home/index.ts
  src/profile/Profile.svelte
  src/profile/Profile.test.ts
  src/profile/index.ts
  src/routing/404.svelte
  src/routing/Route.svelte
  src/routing/Router.svelte
  src/routing/index.ts
  src/routing/types.ts
Due: eslint --fix, prettier --write --plugin-search-dir=.

Add Redirect to routing.
  src/App.svelte
  src/routing/Redirect.svelte
  src/routing/Router.svelte
  src/routing/index.ts
  src/routing/types.ts
Due: eslint --fix, prettier --write --plugin-search-dir=.

Add Playwright via Jest for E2E testing
  .gitignore
  .lintstagedrc
  README.md
  e2e/.eslintrc.js
  e2e/404.test.ts
  e2e/About.test.ts
  e2e/Home.test.ts
  e2e/Profile.test.ts
  jest-playwright.config.js
  jest.e2e.config.js
  package.json
  pnpm-lock.yaml
  src/home/__snapshots__/Home.test.ts.snap
  src/profile/__snapshots__/Profile.test.ts.snap
  src/routing/404.svelte
  types/page.d.ts
Due: prettier --write --plugin-search-dir=.

Add i18n support via svelte-i18n
  e2e/404.test.ts
  e2e/Home.test.ts
  jest-playwright.config.js
  jest.setup.js
  package.json
  pnpm-lock.yaml
  src/App.svelte
  src/home/Home.svelte
  src/home/__snapshots__/Home.test.ts.snap
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/index.ts
  src/profile/Profile.svelte
  src/profile/__snapshots__/Profile.test.ts.snap
Due: eslint --fix, prettier --write --plugin-search-dir=.

Add option to bundle output via Webpack - useful due to enlargement by svelte-i18n
  package.json
  pnpm-lock.yaml
  snowpack.config.json
  src/home/__snapshots__/Home.test.ts.snap
Due: none

LICENSE cleanup from creation step
  LICENSE
Due: none

Fix some typos
  README.md
  package.json
  pnpm-lock.yaml
Due: none

Add vite alternative build branch
  .env.development
  .env.production
  .eslintignore
  .gitignore
  README.md
  babel.config.js
  babel.config.json
  config/babelTransform.js
  e2e/404.test.ts
  e2e/About.test.ts
  e2e/Home.test.ts
  e2e/Profile.test.ts
  index.html
  jest.config.js
  jest.e2e.config.js
  package.json
  pnpm-lock.yaml
  public/index.html
  snowpack.config.json
  src/i18n/de.json
  src/i18n/index.ts
  src/index.ts
  src/main.ts
  src/profile/Profile.svelte
  src/profile/__snapshots__/Profile.test.ts.snap
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write --plugin-search-dir=.

Path conditions:
  eslint --fix: any of: src/**/*.ts
  prettier --write --plugin-search-dir=.: any of: src/**/*.{ts,svelte}
